.recharts-responsive-container {
  margin-bottom: 40px;
  overflow: hidden;
}

.recharts-text {
  font-size: 1.6rem;
  fill: white;
}

.recharts-legend-wrapper {
  padding-left: 68px;
  padding-bottom: 60px;
}

.recharts-legend-item {
  font-size: 1.6rem;
}

.recharts-cartesian-axis-label {
  transform: translateY(-10px);
}

.recharts-cartesian-grid-vertical {
  line:not(:last-child) {
    display: none !important;
  }
}

.recharts-x-axis {
  .recharts-cartesian-axis-tick:nth-child(odd) > text {
    display: none !important;
  }

  .recharts-text {
    transform: translateY(10px);
  }
}

@media only screen and (max-width: 570px) {
  .recharts-text {
    font-size: 1.4rem;
  }
}