@import "normalize.css";

:root {
  --main-color: #313131;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.recharts-responsive-container {
  margin-left: -10px;
  margin-bottom: 50px;
}

.recharts-text {
  font-size: 1.6rem;
  fill: white;
}

.recharts-legend-wrapper {
  width: 100vw !important;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.recharts-legend-item {
  font-size: 1.6rem;
}

.recharts-cartesian-grid-vertical {
  line:not(:last-child) {
    display: none;
  }
}

.recharts-x-axis {
  .recharts-cartesian-axis-tick:nth-child(odd) > text {
    display: none;
  }

  .recharts-text {
    transform: translateY(10px);
  }
}

@media only screen and (max-width: 570px) {
  .recharts-text {
    font-size: 1.4rem;
  }
}
